@charset "UTF-8";
:root {
  /* font-size */
  --f--hero: 110px;
  --f--large: 45px;
  --f--medium: 35px;
  --f--normal: 25px;
  --f--smaller: 17px;
  --f--small: 14px;
  --f--micro: 13px;
  /* font-weight */
  --fw--light: 300;
  --fw--normal: 400;
  --fw--bolder: 500;
  --fw--bold: 600;
  /* color */
  --color--black: #000;
  --color--black-transparent: rgba(0, 0, 0, 0.25);
  --color--white: #fff;
  --color--light-grey: #bec7d5;
  --color--grey: #363e49;
  --color--dark-grey: #272a2f;
  --color--light-purple: rgb(138, 147, 233);
  --color--dark-purple: rgb(79, 79, 153); }

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  margin: 0; }

.wrap {
  color: var(--color--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }
  .wrap.on {
    color: var(--color--black); }
    .wrap.on .galaxy {
      height: 57vh; }
      .wrap.on .galaxy::before {
        opacity: 1; }
    .wrap.on .dots .dot {
      border: solid 1px var(--color--black); }
  .wrap .moon {
    position: absolute;
    top: 175px;
    right: 15%;
    content: "";
    width: 110px;
    height: 110px;
    border-radius: 50%;
    z-index: 1000;
    background: #fdf8dd;
    filter: blur(1px);
    box-shadow: 0px 0px 5px 5px rgba(253, 248, 221, 0.5);
    transition: 250ms;
    cursor: pointer; }
    .wrap .moon:hover {
      transform: scale(1.05); }

h1, h2, h3, h4, h5, h6, dd, dt {
  transition: all 2s ease-in-out; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1,
.letter {
  font-family: "Josefin Sans", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

section {
  display: flex;
  width: 100%;
  height: 100vh;
  border-bottom: solid 1px var(--color--light-purple); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  transition: all 250ms ease-in;
  font-weight: bold;
  z-index: 10;
  color: var(--color--white); }
  .nav.active {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.6em; }
  .nav .section-lists {
    display: flex;
    justify-content: space-between;
    width: 350px; }
    .nav .section-lists .section-list {
      cursor: pointer;
      border-radius: 10px;
      transition: all 170ms ease-in;
      padding: 0.5em; }
      .nav .section-lists .section-list:hover {
        background-color: var(--color--white);
        color: var(--color--black); }
  .nav .nav-title {
    padding: 0.5em;
    cursor: pointer; }

.dots {
  position: fixed;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2; }
  .dots .dot {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: end;
    border: 1px solid var(--color--white);
    background-color: transparent;
    width: 2px;
    height: 30px;
    transition: all 200ms linear; }
    .dots .dot.active {
      transform: scale(1.1);
      background-color: var(--color--black); }
  .dots.active .dot {
    border-color: var(--color--light-grey); }
    .dots.active .dot .dot-name {
      color: var(--color--white); }
    .dots.active .dot.active {
      background-color: var(--color--white); }
  .dots .dot-name {
    opacity: 0;
    line-height: 40px;
    text-align: end;
    position: relative;
    left: -30px;
    transform: translateY(-7px);
    transition: all 200ms ease-in; }

.dots .dot:hover .dot-name,
.dots .dot.active .dot-name {
  opacity: 1; }

.container {
  display: flex;
  flex-direction: column;
  width: 1320px; }

#home {
  width: 100%;
  display: block;
  position: relative; }
  #home .hero {
    position: absolute;
    top: 45%;
    right: 0;
    display: inline-block;
    background: transparent; }
    #home .hero h1 {
      display: block;
      text-align: end;
      font-size: var(--f--large);
      background: linear-gradient(0deg, var(--color--dark-purple) 0%, var(--color--light-purple) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  #home .home__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5em; }
    #home .home__bottom .home__introduction {
      margin-bottom: 1em; }
      #home .home__bottom .home__introduction h2,
      #home .home__bottom .home__introduction h3 {
        margin-bottom: 1em; }
      #home .home__bottom .home__introduction h3 {
        font-size: var(--f--smaller);
        font-weight: var(--fw--normal); }
    #home .home__bottom .home__contact {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      #home .home__bottom .home__contact h1 {
        text-align: end;
        margin-bottom: 1em; }
      #home .home__bottom .home__contact dl {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        margin-bottom: 1em; }
        #home .home__bottom .home__contact dl dt {
          margin-left: 1em; }
          #home .home__bottom .home__contact dl dt::before {
            display: inline-block;
            content: "";
            width: 2px;
            height: 75%;
            margin-right: 0.5em;
            background-color: var(--color--light-grey); }

.section-left,
.section-right {
  flex: 1; }

.section-right {
  padding: 1em; }

.section-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5em; }
  .section-left .title_container .title {
    margin-left: auto;
    font-size: var(--f--hero); }
  .section-left .title_container .subtitle {
    text-align: end; }
  .section-left .title_container::after {
    display: block;
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--color--black);
    transition: all 1s ease-in-out; }

.letter {
  display: inline-block;
  transform: translateY(20px);
  opacity: 0;
  transition: all 500ms ease-in; }
  .letter.on {
    transform: none;
    opacity: 1; }

#about {
  height: 200vh;
  z-index: 2; }
  #about .section-left {
    display: block;
    padding: 30em 0; }
    #about .section-left .title_container {
      position: sticky;
      top: 50%; }
      #about .section-left .title_container .subtitle {
        font-weight: var(--fw--normal); }
  #about .section-right {
    padding: 7em; }
    #about .section-right dl {
      margin-bottom: 4em; }
      #about .section-right dl .skills-title {
        text-align: end;
        position: relative;
        font-size: var(--f--medium);
        font-weight: var(--fw--bolder);
        margin-bottom: 0.5em;
        color: var(--color--light-purple); }
        #about .section-right dl .skills-title::after {
          position: absolute;
          left: 0;
          top: 33px;
          display: inline-block;
          content: '';
          width: 100%;
          height: 1px;
          background-color: var(--color--light-purple); }
      #about .section-right dl dd {
        margin-bottom: 1em; }
      #about .section-right dl .skills-sub {
        font-size: var(--f--normal);
        margin-bottom: 1rem; }
      #about .section-right dl .skills__list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap; }

#projects .section-left .title_container {
  transition: all 0.7s ease-in-out; }

#projects .section-left.on .title_container {
  transform: translate(-250px, -370px) scale(0.2);
  transition-delay: 1s; }
  #projects .section-left.on .title_container .title {
    text-align: start; }

#projects .section-left.on::after {
  transition-delay: 1.5s;
  width: 0; }

#projects .section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: all 500ms linear;
  transition-delay: 0.7s; }
  #projects .section-right .items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px; }
    #projects .section-right .items .item {
      cursor: pointer;
      font-size: var(--f--normal);
      color: var(--color--white);
      text-align: center;
      line-height: 2em;
      background-color: var(--color--black);
      width: 2em;
      height: 2em;
      border-radius: 50%; }
      #projects .section-right .items .item::after {
        content: "aasdfas";
        color: var(--color--black); }
  #projects .section-right .project_preview {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #projects .section-right .project_preview img {
      width: 100%;
      height: 350px;
      border-radius: 8px;
      border: solid 1px var(--color--light-grey); }
    #projects .section-right .project_preview .more {
      margin-top: 1.5em;
      cursor: pointer;
      outline: none;
      border: 1px solid var(--color--black);
      border-radius: 10px;
      color: var(--color--white);
      background-color: var(--color--black);
      font-size: var(--f--small);
      font-weight: bold;
      padding: 0.7em 1em;
      transition: all 150ms linear; }
      #projects .section-right .project_preview .more:hover {
        background-color: var(--color--white);
        color: var(--color--black); }
  #projects .section-right.on {
    opacity: 1;
    transform: none; }

#projects .project_modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }
  #projects .project_modal h2 {
    margin-bottom: 1em; }
  #projects .project_modal p {
    display: inline-block; }
  #projects .project_modal .project_modal_container {
    display: none;
    background-color: var(--color--white);
    border-radius: 10px;
    width: 55%;
    min-width: 600px;
    max-height: 750px;
    padding: 3.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll; }
    #projects .project_modal .project_modal_container .project_modal_thumbnail {
      width: 100%;
      border: solid 1px var(--color--light-grey);
      margin-bottom: 1em; }
    #projects .project_modal .project_modal_container ion-icon {
      color: var(--color--black);
      font-size: var(--f--medium); }
      #projects .project_modal .project_modal_container ion-icon:hover {
        color: var(--color--light-grey); }
  #projects .project_modal .project_modal_btnContainer {
    display: flex;
    justify-content: center; }
    #projects .project_modal .project_modal_btnContainer .project_modal_close {
      cursor: pointer;
      outline: none;
      border: 1px solid var(--color--black);
      border-radius: 10px;
      color: var(--color--white);
      background-color: var(--color--black);
      font-size: var(--f--small);
      font-weight: bold;
      padding: 0.7em 1em;
      transition: all 150ms linear; }
      #projects .project_modal .project_modal_btnContainer .project_modal_close:hover {
        background-color: var(--color--white);
        color: var(--color--black); }
  #projects .project_modal.active {
    display: block; }
    #projects .project_modal.active .project_modal_container {
      display: block; }

#contact {
  position: relative;
  width: 100%;
  background-color: #272a2f;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: none; }
  #contact .container {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%; }
    #contact .container .container_header {
      display: flex;
      justify-content: space-between;
      width: 350px;
      margin-bottom: 5px;
      color: var(--color--light-grey); }
      #contact .container .container_header .confirmation {
        color: #aec6ff;
        font-weight: bolder; }
  #contact .email-box {
    cursor: text;
    padding: 10px 25px;
    font-size: var(--f--small);
    display: flex;
    justify-content: space-between;
    background-color: var(--color--grey);
    border-radius: 10px;
    width: 400px;
    color: var(--color--white); }
    #contact .email-box .email {
      line-height: 1.7em; }
    #contact .email-box .email-box_copy {
      color: var(--color--white);
      padding: 0.2em;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none; }
    #contact .email-box:hover .email {
      background-color: #5f7696; }
  #contact::before {
    content: "해당 페이지는 VanilaJS로 만들어졌으며 데스크탑에 최적화 되어 있습니다.";
    display: inline-block;
    text-align: center;
    padding: 0 4rem;
    font-size: 16px;
    font-weight: var(--fw--bold);
    color: var(--color--light-grey);
    position: absolute;
    top: -3em; }
  #contact .contact_link {
    display: flex; }
    #contact .contact_link .link-tistory,
    #contact .contact_link .link-github,
    #contact .contact_link .link-codepen {
      width: 40px;
      height: 40px;
      margin: 1rem;
      color: var(--color--white); }
    #contact .contact_link .link-tistory circle {
      fill: var(--color--white); }
    #contact .contact_link .link-tistory:hover circle {
      fill: var(--color--light-grey); }
    #contact .contact_link ion-icon {
      width: 100%;
      height: 100%; }
      #contact .contact_link ion-icon:hover {
        color: var(--color--light-grey); }
  #contact .copyright {
    margin-top: 1.5em;
    color: var(--color--light-grey); }

@media (max-width: 1028px) {
  .container {
    width: 100%;
    padding: 1em; }
  section {
    border: none; }
  .section-left {
    display: none; }
  #home .hero {
    display: none; }
  #home .home__bottom {
    display: block;
    padding: 1em; }
    #home .home__bottom .home__introduction {
      margin-bottom: 3rem; }
      #home .home__bottom .home__introduction h2 {
        font-size: var(--f--smaller); }
      #home .home__bottom .home__introduction h3 {
        font-size: var(--f--micro); }
    #home .home__bottom .home__contact h1 {
      display: none;
      text-align: start;
      font-size: var(--f--small); }
    #home .home__bottom .home__contact dl {
      flex-direction: row-reverse; }
  .dots {
    display: none; }
  #about .section-left {
    display: none; }
  #about .section-right {
    padding: 3rem 1rem; }
    #about .section-right dl dt,
    #about .section-right dl dd {
      transform: none;
      margin-left: 1em; } }
