*{
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
}

h1, h2{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

section{
  display: flex;
  height: 100vh;
  border-bottom: solid 1px black;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

nav .section-lists{
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.dots{
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.dot{
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: end;
  border: 3px solid black;
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: all 300ms linear;  
}

.dot.active{
  background-color: black;
  transform: scale(1.2);
}

.dots .dot .dot-name{
  opacity: 0;
  text-align: end;
  position: relative;
  left: -30px;
  transform: translateY(-7px);
  transition: all 250ms ease-in;
}

.dots .dot:hover .dot-name,
.dots .dot.active .dot-name{
  opacity: 1;
}

.container{
  display: flex;
  flex-direction: column;
  width: 1320px;
}

.section-left, .section-right{
  flex: 1;
}

.section-right{
  padding: 1em;
}


.section-left{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5em;  
}

.section-left::after{
  content: '';
  width: 100%;
  height: 5px;
  background-color: black;
}

.section-left .title{
  margin-left: auto;
  font-size: 110px;
}

.section-left .subtitle{
  text-align: end;
}

#projects .section-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects .section-right .items{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}

#projects .section-right .project_preview{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

#projects .section-right .project_preview img{
  width: 100%;
  height: 100%;
}

#projects .section-right .project_preview .more{
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 0.7em 1em;
  transition: all 150ms linear;
}

#projects .section-right .project_preview .more:hover{
  background-color: white;
  color: black;
}


.word.on{
  transform: none;
}

.letter{
  display: inline-block;
  transform: translateY(20px);
  opacity: 0;
  transition: all 500ms ease-in;
}

.letter.on{
  transform: none;
  opacity: 1;
}

.cover{
  display: none;
  position: fixed;
  content: '';
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0,0,0,0.5);;
}

#projects .project_modal{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
}

#projects .project_modal .project_modal_container{
  display: none;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  padding: 2em;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#projects .project_modal.active .project_modal_container{
  display: block;
}

#projects .project_modal.active{
  display: block;
}

#projects .project_modal ion-icon{
  color: black;
  font-size: 35px;
}
#projects .project_modal ion-icon:hover{
  color: rgb(161, 161, 161)
}